body {
 background-color: #F6F6F6;
}

header {
 background-color: #2B2B2B;
 border-bottom: 4px solid #DE1B1B;
}

.customLi {
 color: #F6F6F6;
 transition: all 0.5s ease 0s;
}

.customLi:hover {
 border-radius: 10px;
 background-color: rgba(128, 128, 128, 0.66);
}

.customHeader {
 color: #F6F6F6;
 border: 2px solid #DE1B1B;
 padding: 10px;
 border-radius: 10px;
 background-color: #DE1B1B;
 border-bottom: 4px solid #F6F6F6;
}

.content {
 background-color: rgba(167, 167, 167, 0.55);
 margin: 5% 10% 5% 10%;
 padding: 3%;
 min-height: 30vh;
}

fieldset {
	text-align: center;
	background-color: #deaca4;
	border:2px solid #DE1B1B;
}

form *{
	margin: 2% 0 2% 0;
}

form input {
	border: 1px solid #DE1B1B;
	border-radius: 5px;
	padding: 1%;
}

#submitbutton {
	background-color: rgb(255, 101, 120);
	color: white;
	transition: all 0.5s ease 0s;
}

#submitbutton:hover {
	background-color: white;
	color: black;
}

footer{
 border-top: 4px solid rgba(43, 43, 43, 0.25);
 background-color: rgba(167, 167, 167, 0.55);
 padding: 3%;
}


@media screen and (min-width: 568px) {
  body {
   background-color: #F6F6F6;
  }

  header {
   background-color: #2B2B2B;
   border-bottom: 4px solid #DE1B1B;
  }

  .customLi {
   color: #F6F6F6;
  }

  .customLi:hover {
   border-radius: 10px;
   background-color: rgba(128, 128, 128, 0.66);
  }

  .customHeader {
   color: #F6F6F6;
   border: 2px solid #DE1B1B;
   padding: 10px;
   border-radius: 10px;
   background-color: #DE1B1B;
   border-bottom: 4px solid #F6F6F6;
  }

  .content {
   background-color: rgba(167, 167, 167, 0.55);
   margin: 5% 10% 5% 10%;
   padding: 3%;
   min-height: 30vh;
  }

  footer{
   border-top: 4px solid rgba(43, 43, 43, 0.25);
   background-color: rgba(167, 167, 167, 0.55);
   padding: 3%;
  }
}
