{% extends "layout.html" %}
{% block title %}Album{% endblock %}
{% block body %}
    <h3 class="group-name">{{album.name}}</h3>
    <p><iframe width="560" height="315" src='{{album.video_url}}' frameborder="0" allowfullscreen></iframe>
    </p>
    <table class="pure-table group_table">
      {% if album.year %}
      <tr class="pure-table-odd">
        <td>Año: </td>
        <td>{{album.year}}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Enlace a Spotify:</td>
        <td>
          {% if album.spotify_url %}
            <a href='{{ album.spotify_url}}'>{{album.spotify_url}}</a>
          {% endif %}
        </td>
      </tr>

      <tr class="pure-table-odd odd-fix">
        <td>Canciones:</td>
        <td>
          <table class="pure-table-odd">
            <tr class="pure-table-odd">
              <th>Nombre</th>
              <th>Duración</th>
              <th>Explícita</th>
            </tr>
          <ul>
            {% for song in album.songs %}
             <tr class="pure-table-odd">
                <td>
                    <li><a href='{{song.spotify_url}}'>{{song.name}}</a></li>
                </td>
                <td> {{(song.duration % 3600)//60}}:{{(song.duration % 3600) % 60}}
                </td>
                <td>
                    {% if song.explicit %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>
              </tr>

            {% endfor %}

          </ul>
        </table>
        </td>
      </tr>
    </table>
{% endblock %}
