{% extends "layout.html" %}
{% block title %}Grupos{% endblock %}
{% block body %}
  <img class="group-img" src="{{artist.img}}" width="200" height="200">
  <h3
    class="group-name">{{ artist.name }}
    ({%if artist.begin_year %}{{artist.begin_year}}{% endif %} - {%if artist.end_year %}{{artist.end_year}}{% endif %})
  </h3>
  <h4>Descripción:</h4>
  <p>{{artist.description}}</p>
  <table class="pure-table group_table">
    {% if artist.members %}
    <tr class="pure-table-odd">
      <td>Miembros:</td>
      <td>
        <ul>
        {% for member in artist.members %}
          <li>{{ member.name }} {{member.time_interval}}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Géneros:</td>
      <td>
        <ul>
          {% for genre in artist.genre %}
            <li>{{ genre }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr class="pure-table-odd">
      <td>Canal de Youtube:</td>
      <td><a href='{{artist.youtube_channel}}'> {{ artist.youtube_channel }}</a></td>
    </tr>
    <tr>
      <td>Canal de Spotify:</td>
      <td><a href='{{ artist.spotify_url }}'>{{artist.spotify_url}}</a></td>
    </tr>
    <tr>
      <td>Discografia:</td>
      <td>
        <ul>
          {% for album in albums %}
            <li><a  href='./{{artist.name}}/{{album.name}}'>{{ album.name }}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
{% endblock %}
