{% extends "layout.html" %}
{% block body %}
{% block title %}Grupos{% endblock %}
<ul>
  {% for artist in result %}
    <li> <h4>{{ artist.name }}</h4>
    <a href='{{ artist.spotify_url}}'>{{artist.spotify_url}}</a>
    <p>Género: {{ artist.genre}}</p>
    <p>{{artist.description}}</p>
    <ul>Discografia:
        {% for album in albums %}
            <li><a  href='./{{artist.name}}/{{album.name}}'>{{album.name}}</a></li>
        {% endfor %}
    </ul>
    
    </li>
  {% endfor %}
</ul>
{% endblock %}

