{% extends "layout.html" %}
{% block title %}Recomendador{% endblock %}
{% block body %}
<article>
  <fieldset>
    <legend>Información para la recomendación</legend>
    <form action="/answer-recommendation" method="post" name="Recomendacion">
      <label for="nameField">Introduce los tres grupos o artistas que más te gusten:</label>
      <br>
      <input type = "text" name="artist1" value = "Depeche Mode" />
      <br>
      <input type = "text" name="artist2" value = "Gorillaz" />
      <br>
      <input type = "text" name="artist3" value = "Tears for fears" />
      <br>
      <input type = "submit" id=submitbutton value = "Enviar!!" />
    </form>
  </fieldset>
  <h2>¿Cómo se lleva a cabo la recomendación?</h2>
  <hr>
  <p>
    El sistema se nutre de la información proporcionada por MusicBrainz, Spotify y Youtube, ahora dados tres grupos introducidos por el usuario, el sistema se aprovecha de la información proporcionada por Spotify acerca de los grupos más relevantes a otros, luego se hace una unión de dichos grupos para evitar obtener respuestas repetidas. El sistema recupera la información de los grupos relevantes a los datos y muestra elementos multimedia al usuario.
  </p>
</article>
{% endblock %}
