{% extends "layout.html" %}
{% block title %}Recomendador{% endblock %}
{% block body %}
<article>
  <fieldset>
    <legend>Información para la recomendación</legend>
    <form action="/answer-recommendation" method="post" name="Recomendacion">
      <label for="nameField">Introduce los tres grupos o artistas que más te gusten:</label>
      <br>
      <input type = "text" name="artist1" value = "Depeche Mode" />
      <br>
      <input type = "text" name="artist2" value = "Gorillaz" />
      <br>
      <input type = "text" name="artist3" value = "Tears for fears" />
      <br>
      <input type = "submit" id=submitbutton value = "Recomendar!!" />
    </form>
  </fieldset>
  <h2>¿Cómo se lleva a cabo la recomendación?</h2>
  <hr>
  <p>
    El sistema se nutre de la información proporcionada por MusicBrainz, Spotify y Youtube. A partir de tres grupos introducidos por el usuario le ofrecemos recomendaciones a partir de similitudes de grupos por géneros y épocas. El usuario dispone de la posibilidad de consultar un pequeño catálogo de información sobre los grupos, además de discos completos para muchos de ellos. La discografía de los grupos se muestra ordenada de mayor a menor valoración.
  </p>
</article>
{% endblock %}
